<p style="color: green"><%= notice %></p>

<% content_for :title, "Clientes" %>

<h2 class="contanier text-white text-center "> **  Clientes ** </h2>


<div class = "container d-flex justify-content-end mt-3 gap-3"> 
    <%== pagy_bootstrap_nav(@pagy) %>
    <%= link_to "Crear Cliente", new_client_path, class: "btn btn-success px-4 py-3  "%>
</div>

<div id="clients ">
    <div class="container">
        <table class="table table-striped">
          <thead>
            <tr style="background-color:DodgerBlue;" class = "text-center text-tomato">
              <th scope="col ">id</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>

          <tbody  class = "text-center ">
             <% @clients.each do |client| %>
                <div class = "text-danger">
                      <%= render client, class: " text-danger" %>
                  </div>  
                  <div class = "text-warning">
                    <th scope="col " class = "text-warning">Pelicula Arrendada</th>
                      <td class = "text-white"> <%= client.movies.last.name    %>
                  </div> 
                <%end%>
          </tbody>

        </table>
    </div>
</div>
<div class = "container d-flex justify-content-end mt-3 gap-3 "> 
 <%== pagy_bootstrap_nav(@pagy) %>
    <%= link_to "Crear Cliente", new_client_path, class: "btn btn-success px-4 py-3 " %>
</div>
